body {
  margin: 0px;
}

#banner {
  position: absolute;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
