body {
  margin: 0px;
}

#banner {
  position: absolute;
  background-color: #fff3a5;
  cursor: pointer;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#background {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-name: zoomIn;
}

#title,
#text1,
#text2 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  opacity: 0;
}

#title {
  animation-delay: 0s;
}
#text1 {
  animation-delay: 2s;
}
#text2 {
  animation-delay: 4s;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
